/* line 1, ../sass/style.scss */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

/* line 8, ../sass/style.scss */
.clearfix:after {
  content: " ";
  display: table;
}

/* line 13, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 17, ../sass/style.scss */
.icons-sprite, .icons-atx-series, .icons-crave, .icons-cruiser-alloy, .icons-delivery, .icons-gear, .icons-hover-plus, .icons-logotype, .icons-moto-metal, .icons-params, .icons-rbp-wheels, .icons-setting {
  background: url("../img/sprites.png") no-repeat;
}

/* line 21, ../sass/style.scss */
.icons-atx-series {
  background-position: 0 0;
  height: 62px;
  width: 143px;
}

/* line 27, ../sass/style.scss */
.icons-crave {
  background-position: 0 -62px;
  height: 64px;
  width: 184px;
}

/* line 33, ../sass/style.scss */
.icons-cruiser-alloy {
  background-position: 0 -126px;
  height: 62px;
  width: 143px;
}

/* line 39, ../sass/style.scss */
.icons-delivery {
  background-position: 0 -188px;
  height: 26px;
  width: 32px;
}

/* line 45, ../sass/style.scss */
.icons-gear {
  background-position: 0 -214px;
  height: 62px;
  width: 143px;
}

/* line 51, ../sass/style.scss */
.icons-hover-plus {
  background-position: 0 -276px;
  height: 35px;
  width: 35px;
}

/* line 57, ../sass/style.scss */
.icons-logotype {
  background-position: 0 -311px;
  height: 36px;
  width: 36px;
}

/* line 63, ../sass/style.scss */
.icons-moto-metal {
  background-position: 0 -347px;
  height: 62px;
  width: 143px;
}

/* line 69, ../sass/style.scss */
.icons-params {
  background-position: 0 -409px;
  height: 32px;
  width: 32px;
}

/* line 75, ../sass/style.scss */
.icons-rbp-wheels {
  background-position: 0 -441px;
  height: 62px;
  width: 143px;
}

/* line 81, ../sass/style.scss */
.icons-setting {
  background-position: 0 -503px;
  height: 32px;
  width: 32px;
}

/* line 87, ../sass/style.scss */
.header {
  margin-top: 37px;
}

/* line 91, ../sass/style.scss */
.wrap {
  width: 1160px;
  margin: 0 auto;
}

/* line 96, ../sass/style.scss */
.header_top {
  padding: 0 0 37px;
}

/* line 100, ../sass/style.scss */
.header_logo {
  float: left;
  margin-left: 4px;
}
/* line 103, ../sass/style.scss */
.header_logo .logo__link {
  position: relative;
  overflow: hidden;
}
/* line 106, ../sass/style.scss */
.header_logo .logo__link--img {
  float: left;
}

/* line 112, ../sass/style.scss */
.logo__h1 {
  margin-left: 46px;
  line-height: 23px;
}
/* line 115, ../sass/style.scss */
.logo__h1--link {
  color: #434343;
  letter-spacing: 1.5px;
  font-size: 30px;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 500;
}

/* line 124, ../sass/style.scss */
.logo__h2 {
  margin: -6px 0 0 48px;
}
/* line 126, ../sass/style.scss */
.logo__h2--link {
  color: #333;
  opacity: 0.65;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-size: 12px;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 200;
}

/* line 137, ../sass/style.scss */
.social-networks {
  float: right;
}
/* line 139, ../sass/style.scss */
.social-networks-list {
  padding: 12px 0 0;
}
/* line 141, ../sass/style.scss */
.social-networks-list-item {
  display: inline-block;
}
/* line 143, ../sass/style.scss */
.social-networks-list-item__link {
  color: #ccc;
  transition: 0.3s;
}
/* line 146, ../sass/style.scss */
.social-networks-list-item__link:hover {
  color: #248cec;
}

/* line 154, ../sass/style.scss */
.nav {
  margin: 0 0 40px;
  background-color: #2a2d32;
}
/* line 157, ../sass/style.scss */
.nav .menu {
  float: left;
}

/* line 162, ../sass/style.scss */
.menu__item {
  height: 55px;
  display: inline-block;
  border-right: 1px solid #000;
  padding: 0 40px;
}
/* line 167, ../sass/style.scss */
.menu__item--link {
  display: block;
  font-size: 14px;
  font-family: "Ubuntu", Arial, sans-serif;
  line-height: 55px;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
}
/* line 175, ../sass/style.scss */
.menu__item--link:hover {
  color: #f4b60d;
}
/* line 179, ../sass/style.scss */
.menu__item--current {
  background-color: #248cec;
}

/* line 184, ../sass/style.scss */
.sform {
  float: right;
  padding: 6px 8px;
  position: relative;
}
/* line 188, ../sass/style.scss */
.sform__field {
  padding-left: 12px;
  display: block;
  width: 224px;
  height: 38px;
  border: 1px solid #000;
  background-color: #35383c;
  color: #fff;
}
/* line 197, ../sass/style.scss */
.sform__button {
  position: absolute;
  right: 8px;
  top: 6px;
  height: 40px;
  line-height: 40px;
  width: 30px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #595c5f;
  cursor: pointer;
  transition: 0.3s;
}
/* line 210, ../sass/style.scss */
.sform__button:hover {
  color: #fff;
}

/* line 216, ../sass/style.scss */
.slides__item {
  position: relative;
  vertical-align: middle;
}

/* line 221, ../sass/style.scss */
.slider-inscription {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
/* line 225, ../sass/style.scss */
.slider-inscription__span {
  padding: 0 50px 0 25px;
  display: table;
  min-width: 160px;
  background-color: #1a1a1a;
  opacity: 0.9;
  line-height: 62px;
  text-transform: uppercase;
  color: #fff;
  font-size: 54px;
  font-family: "Ubuntu", Arial, sans-serif;
  font-weight: 500;
  left: 35px;
}
/* line 238, ../sass/style.scss */
.slider-inscription__span:last-child {
  padding-bottom: 10px;
}
/* line 241, ../sass/style.scss */
.slider-inscription__span:first-child {
  padding-top: 25px;
}
/* line 244, ../sass/style.scss */
.slider-inscription__span--yellow {
  color: #f4b60d;
}

/* line 250, ../sass/style.scss */
.info {
  margin-bottom: 88px;
}
/* line 252, ../sass/style.scss */
.info__article {
  counter-increment: article;
  width: 235px;
  float: left;
  position: relative;
  padding-left: 125px;
  padding-right: 40px;
}
/* line 259, ../sass/style.scss */
.info__article--icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}
/* line 264, ../sass/style.scss */
.info__article:last-child {
  padding-right: 0;
}
/* line 267, ../sass/style.scss */
.info__article:before {
  content: "0" counter(article);
  position: absolute;
  top: 0;
  left: 0;
  color: #e9e9ea;
  line-height: 67px;
  margin: 0 25px 0 0;
  font-size: 90px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
/* line 279, ../sass/style.scss */
.info__article--title {
  margin: 18px 0 27px;
}
/* line 283, ../sass/style.scss */
.info__article--link {
  color: #2a2b2e;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
/* line 290, ../sass/style.scss */
.info__article--note {
  margin: 0 0 25px 0;
  color: #8a8a8a;
  line-height: 20px;
  font-size: 13px;
  font-family: "Arial", sans-serif;
}
/* line 298, ../sass/style.scss */
.info__article--read-more {
  color: #2a2b2e;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
/* line 303, ../sass/style.scss */
.info__article--read-more:hover {
  color: #248cec;
}
/* line 305, ../sass/style.scss */
.info__article--read-more:hover .info__article--arrow {
  background-image: url("../img/arrow-hover.png");
}
/* line 311, ../sass/style.scss */
.info__article--arrow {
  display: inline-block;
  background-image: url("../img/arrow.png");
  margin-left: 9px;
  width: 10px;
  height: 9px;
}

/* line 321, ../sass/style.scss */
.services {
  height: 500px;
  background-color: #2a2d32;
}
/* line 324, ../sass/style.scss */
.services__head {
  text-align: left;
  line-height: 123px;
  color: #fff;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
/* line 332, ../sass/style.scss */
.services__list {
  text-align: center;
}
/* line 335, ../sass/style.scss */
.services__item {
  margin: 0 2% 0 0;
  text-align: center;
  display: inline-block;
  line-height: normal;
}
/* line 340, ../sass/style.scss */
.services__item--img {
  margin-bottom: 35px;
  background-color: #00a2f7;
  position: relative;
}
/* line 344, ../sass/style.scss */
.services__item--img:before {
  opacity: 0;
  content: "";
  position: absolute;
  background-color: #FFF;
  display: block;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 35px;
  margin: -17.5px 0 0 -1.5px;
}
/* line 356, ../sass/style.scss */
.services__item--img:after {
  opacity: 0;
  content: "";
  position: absolute;
  background-color: #FFF;
  display: block;
  top: 50%;
  left: 50%;
  margin: -1.5px 0 0 -17.5px;
  width: 35px;
  height: 3px;
}
/* line 372, ../sass/style.scss */
.services__item--foto {
  display: block;
  transition: 0.3s;
}
/* line 376, ../sass/style.scss */
.services__item--link {
  transition: 0.3s;
  width: 260px;
  display: block;
  color: #fff;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
/* line 384, ../sass/style.scss */
.services__item--link:hover {
  color: #f4b60d;
}
/* line 386, ../sass/style.scss */
.services__item--link:hover .services__item--foto {
  opacity: 0.1;
}
/* line 390, ../sass/style.scss */
.services__item--link:hover .services__item--img:before, .services__item--link:hover .services__item--img:after {
  opacity: 1;
  display: block;
}

/* line 400, ../sass/style.scss */
.news {
  padding-bottom: 85px;
  background-color: #f7f7f7;
}
/* line 403, ../sass/style.scss */
.news__latest {
  margin-bottom: 20px;
  float: left;
  width: 50%;
}

/* line 410, ../sass/style.scss */
.banner {
  float: left;
  width: 50%;
}

/* line 415, ../sass/style.scss */
.news__latest--head, .banner__head {
  margin: 64px 0 49px 4px;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

/* line 422, ../sass/style.scss */
.article {
  margin-top: 30px;
}
/* line 424, ../sass/style.scss */
.article__img {
  float: left;
  position: relative;
  width: 25%;
  margin-right: 5%;
}
/* line 430, ../sass/style.scss */
.article__date {
  position: absolute;
  top: 12px;
  left: -17px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  text-align: center;
  width: 40px;
}
/* line 440, ../sass/style.scss */
.article__month, .article__day {
  line-height: 40px;
}
/* line 443, ../sass/style.scss */
.article__month {
  background-color: #248cec;
  color: #fff;
}
/* line 447, ../sass/style.scss */
.article__day {
  background-color: #f4b60d;
  color: #2a2b2e;
}
/* line 451, ../sass/style.scss */
.article__second {
  float: left;
  margin-right: 5%;
  width: 65%;
  color: #8a8a8a;
}
/* line 457, ../sass/style.scss */
.article__head {
  margin-bottom: 25px;
}
/* line 460, ../sass/style.scss */
.article__header {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
/* line 465, ../sass/style.scss */
.article__header--link {
  color: #000;
}
/* line 467, ../sass/style.scss */
.article__header--link:hover {
  color: #248cec;
}
/* line 472, ../sass/style.scss */
.article__commenter--link {
  color: #248cec;
}

/* line 478, ../sass/style.scss */
.accordion__header {
  transition: 0.4s;
  margin-top: 5px;
  display: block;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
/* line 486, ../sass/style.scss */
.accordion__pointer {
  transition: 0.4s;
  float: left;
  position: relative;
  width: 40px;
  height: 100%;
  border-right: 2px solid #e8e8e8;
}
/* line 493, ../sass/style.scss */
.accordion__pointer:before {
  font-size: 22px;
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  width: 9px;
  height: 1px;
}
/* line 505, ../sass/style.scss */
.accordion__pointer:after {
  font-size: 22px;
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  width: 1px;
  height: 9px;
}
/* line 518, ../sass/style.scss */
.accordion__link {
  float: left;
  margin-left: 12px;
  color: #2a2d32;
  text-transform: uppercase;
  line-height: 40px;
  vertical-align: center;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

/* line 531, ../sass/style.scss */
.accordion-body {
  display: none;
}
/* line 534, ../sass/style.scss */
.accordion-body__article {
  margin: 30px 0 40px 40px;
  color: #8a8a8a;
  line-height: 20px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

/* line 544, ../sass/style.scss */
.accordions .active .accordion__header {
  background-color: #f4b60d;
}
/* line 547, ../sass/style.scss */
.accordions .active .accordion__pointer {
  border-right: 2px solid #f6c53d;
}
/* line 549, ../sass/style.scss */
.accordions .active .accordion__pointer:before {
  background-color: #fff;
}
/* line 552, ../sass/style.scss */
.accordions .active .accordion__pointer:after {
  background-color: transparent;
}
/* line 556, ../sass/style.scss */
.accordions .active .accordion__link {
  color: #fff;
}
/* line 559, ../sass/style.scss */
.accordions .active .accordion-body {
  display: block;
}

/* line 564, ../sass/style.scss */
.sponsors {
  line-height: 62px;
  text-align: center;
  padding: 85px 0;
}
/* line 568, ../sass/style.scss */
.sponsors__item {
  display: inline-block;
}
/* line 571, ../sass/style.scss */
.sponsors__link {
  display: block;
  opacity: 0.65;
  margin: 0 20px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 579, ../sass/style.scss */
.sponsors__link:hover {
  opacity: 1;
}

/* line 586, ../sass/style.scss */
.footer {
  background-color: #2a2d32;
}
/* line 588, ../sass/style.scss */
.footer-menu {
  float: left;
  margin: 0 0 83px 40px;
}
/* line 591, ../sass/style.scss */
.footer-menu__header {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin: 64px 0 35px;
}
/* line 599, ../sass/style.scss */
.footer-menu__list {
  width: 230px;
}
/* line 602, ../sass/style.scss */
.footer-menu__item {
  line-height: 36px;
  border-bottom: 1px solid #393c40;
}
/* line 605, ../sass/style.scss */
.footer-menu__item:last-child {
  border-bottom: none;
}
/* line 609, ../sass/style.scss */
.footer-menu__link {
  color: #fff;
  opacity: 0.3;
  font-size: 13px;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}
/* line 615, ../sass/style.scss */
.footer-menu__link:hover {
  color: #248cec;
  opacity: 1;
}
/* line 621, ../sass/style.scss */
.footer-bottom {
  position: relative;
  height: 60px;
  background-color: #35383c;
}
/* line 625, ../sass/style.scss */
.footer-bottom__info {
  float: left;
  margin-right: 35px;
  margin-left: 33px;
  color: #fff;
  opacity: 0.3;
  line-height: 60px;
  vertical-align: middle;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

/* line 639, ../sass/style.scss */
.icon-vcard:before, .icon-location:before, .icon-mobile:before {
  font-size: 18px;
  margin-right: 7px;
}

/* line 644, ../sass/style.scss */
.icon-vcard:before {
  margin-right: 10px;
}

/* line 648, ../sass/style.scss */
.copyright {
  position: absolute;
  right: 140px;
}

@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?15925360");
  src: url("../fonts/fontello.eot?15925360#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?15925360") format("woff"), url("../fonts/fontello.ttf?15925360") format("truetype"), url("../fonts/fontello.svg?15925360#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 662, ../sass/style.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  line-height: 1em;
  margin-left: 0.2em;
}

/* line 672, ../sass/style.scss */
.icon-linkedin:before {
  content: "\e800";
}

/* line 676, ../sass/style.scss */
.icon-facebook:before {
  content: "\e801";
}

/* line 680, ../sass/style.scss */
.icon-twitter:before {
  content: "\e802";
}

/* line 684, ../sass/style.scss */
.icon-rss:before {
  content: "\e803";
}

/* line 688, ../sass/style.scss */
.icon-skype:before {
  content: "\e804";
}

/* line 692, ../sass/style.scss */
.icon-search:before {
  content: "\e805";
}

/* line 696, ../sass/style.scss */
.icon-mobile:before {
  content: "\e806";
}

/* line 700, ../sass/style.scss */
.icon-location:before {
  content: "\e807";
}

/* line 704, ../sass/style.scss */
.icon-vcard:before {
  content: "\e808";
}

/* line 708, ../sass/style.scss */
.icon-copyright:before {
  content: "\e809";
}

/* line 712, ../sass/style.scss */
.icon-right-small:before {
  content: "\e80a";
}
